<sly data-sly-use.this="SearchComponent"></sly>

<div id="criteria-box">

    <h1>${'Search component' @ i18n}</h1>

</div>
<div>
    <div>
        <div>
            <h3>${'Search paths' @ i18n}:</h3>
            <ul data-sly-list="${this.searchPaths}">
                <li><a href="${item}">${item}</a></li>
            </ul>
        </div>
        <div class>
            <h3>${'Search text' @ i18n}:<span>${this.searchText}</span></h3>
        </div>
        <div class>
            <h3>${'Search API used' @i18n }:<span>${this.searchApiType}</span></h3>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>${'Resource path' @ i18n}</th>
                <th>${'Resource name' @ i18n}</th>
            </tr>
        </thead>
       <tbody data-sly-list="${this.searchResults}">
            <tr>
                <td><a href="${item.path}">${item.path}</a></td>
                <td>${item.name}</td>
            </tr>
        </tbody>
    </table>
</div>
