<sly data-sly-use.this="SearchComponent"></sly>

<div id="criteria-box">

    <h1>My search component</h1>

</div>
<div>
    <div>
        <div>
            <h3>Search paths:</h3>
            <ul data-sly-list="${this.searchPaths}">
                <li><a href="${item}">${item}</a></li>
            </ul>
        </div>
        <div class>
            <h3>Search text:<span>${this.searchText}</span></h3>
        </div>
        <div class>
            <h3>Search API used:<span>${this.searchApiType}</span></h3>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Resource path</th>
                <th>Resource name</th>
            </tr>
        </thead>
       <tbody data-sly-list="${this.searchResults}">
            <tr>
                <td><a href="${item.path}">${item.path}</a></td>
                <td>${item.name}</td>
            </tr>
        </tbody>
    </table>
</div>
